body {
  margin: 0;
  background-color: #f2f3f4;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Ubuntu", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.IU-container {
  background-color: white;
  width: 30rem;
  padding: 1rem;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  -webkit-filter: drop-shadow(-15px 5px 10px rgba(0, 0, 0, 0.274));
  filter: drop-shadow(0px 10px 5px rgba(0, 0, 0, 0.178));
}

#add-image {
  height: 5rem;
  width: 5rem;
}

#file-type {
  font-size: 0.9rem;
}

.text {
  color: #828282;
}

.impage {
  background-color: #f6f8fb;
  border: 1.5px dashed #97bef4;
  border-radius: 1rem;
  padding: 2rem;
}

.impage:hover {
  background-color: #c8d8f1;
}

.inputfile {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 0.1px;
  height: 0.1px;
}

.inputfile + label {
  background-color: #2f80ed;
  border-radius: 8px;
  border: none;
  padding: 0.8rem;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
}

.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

/* Louder design */

.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #2f80ed;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #2f80ed transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#done {
  height: 3rem;
  width: 3rem;
}

#inp-result {
  width: 90%;
  height: 2rem;
  background-color: #f6f8fb;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  font-size: 1rem;
}

/* #copy {
  position: relative;
  margin-left: -115px;
  height: 2rem;
  width: 7rem;
  background-color: #2f80ed;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  z-index: 10;
}

#copy:focus {
  background-color: #2f80ed;
} */

.image-result {
  width: 80%;
  height: 30%;
  margin: 0 auto;
  margin-bottom: 1rem;
}

.image-result img {
  border-radius: 8px;
  max-height: 100%;
  max-width: 100%;
}

#copy {
  position: relative;
  margin-left: -115px;
  height: 2rem;
  width: 7rem;
  background-color: #2f80ed;
  border-radius: 8px;
  border: none;
  font-weight: 500;
  color: #ffffff;
  cursor: pointer;
  font-size: 1rem;
  z-index: 10;
}
#copy:focus {
  outline: 0;
}
#copy:before,
#copy:after {
  position: absolute;
  content: "";
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}
#copy:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, transparent 20%, #2f80ed 20%, transparent 30%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2f80ed 15%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%,
    10% 10%, 18% 18%;
}
#copy:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, transparent 10%, #2f80ed 15%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%),
    radial-gradient(circle, #2f80ed 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}
#copy:active {
  transform: scale(0.9);
  background-color: #2f80ed;
  box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}
#copy.animate:before {
  display: block;
  animation: topBubbles ease-in-out 0.75s forwards;
}
#copy.animate:after {
  display: block;
  animation: bottomBubbles ease-in-out 0.75s forwards;
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%,
      40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%,
      50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%,
      50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%,
      70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%,
      105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%,
      110% 10%;
    background-size: 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%;
  }
}
